body {
    background: gray;
}

.card {
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
    margin: 30px;
}

.card img{
    width: 150px;
    height: 200px;
    text-align: center;
    vertical-align: center;
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

header {
    background: grey;
}

header a {
    margin-top: 10px;
}

