<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Superhero</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'superheroes/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

    <header>
        <div class = "row">
            <div class = "col-md-6">
                <h1>League of Superheroes</h1>
            </div>
            <div class = "col-md-6">
                <a href = "{% url 'superheroes:index' %}" class="btn btn-success" >Home</a>
                <a href="{% url 'superheroes:create' %}" class = "btn btn-danger">Create new hero!</a>
            </div>
        </div>
    </header>
    <div class = "row">
        <div class="col-md-6">
            <h2>Detail Page</h2>
        </div>
        
    </div>
    

    <h2>Name: {{single_hero.name}}</h2>
    <h2>Alter Ego: {{single_hero.alter_ego}}</h2>
    <h2>Primary Ability: {{single_hero.primary_ability}}</h2>
    <h2>Secondary Ability: {{single_hero.secondary_ability}}</h2>
    <h2>Catchphrase: {{single_hero.catch_phrase}}</h2>
    <br>
    <a href="{% url 'superheroes:delete' single_hero.id %}" class = "btn btn-danger">Delete this hero</a>

    
</body>
</html>